html { box-sizing: border-box;
}
*,
*:before,
*:after { box-sizing: inherit;
}
             /* HEADER */ 
header {
    padding-bottom: 75px;
}
.logo {
    width: 79.57px;
    height: 23.04px;
    margin: 27px 1565.46px 31.64px 274.97px;
    position: absolute;
}
.hder1 {
    width: 96px;
    height: 24px;
    margin: 30px 1297px 31px 527px;
    position: absolute;
}
.hder2 {
    width: 82px;
    height: 24px;
    margin: 30px 1143px 31px 695px;
    position: absolute;
}
.hder3 {
    width: 103px;
    height: 24px; 
    margin: 30px 969px 31px 848px;
    position: absolute;
}
.hder4 {
    width: 61px;
    height: 24px;
    margin: 30px 836px 31px 1023px;
    position: absolute;
}
.sin {
    width: 59px;
    height: 24px;
    margin: 30px 494px 31px 1367px;
    position: absolute;
}
.bt1 {
    width: 183px;
    height: 51px;
    position: absolute;
    padding: 13px 50px 13px 50px;
    margin: 17px 276px 17px 1461px;
}

button {
    color: white;
    padding: 13px 50px 13px 50px;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
}
             /* SECTION1 */

#section1 {
    margin-left: 275px;
    margin: 373px 1205px 427px 275px;
}

.imgbg {
 background-image: url(bg.png) no-repeat;
 background-size: cover;
 width: 1920px;
 height: 1184px;
}
.beaware {
    color : #01996D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    width: 440px;
    margin-bottom: 30px;

}
.psec1 {
    width: 420px;
    height: 123px;
    margin-bottom: 18px;
}
              /* SECTION 2 */ 
 
             /* SECTION 3 */ 
.section3 {
    background: #245852;
    width: 1920px;
    height: 922px;
    position: absolute;
    color: white;
}
 .heard {
     width: 580px;
     height: 158px;
     position: absolute;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 50px;
     font-weight: bold;
     font-size: 50px; 
     top: 310px;
     left: 207px;
 }
.psec3 {
    width: 550px;
    height: 39px;
    position: absolute;
    font-weight: 600px;
    font-size: 25px; 
    margin: 501px 1163px 382px 207px;
}
.img4 {
    width: 895.84px;
    height: 516.11px;
    position: absolute;
    top: 229px;
    left: 818px;
}
.play {
    width: 26.95px;
    height: 33.69px;
    border-radius: 10px;
    border:white solid 2px ;
}

            /* SECTION 4*/ 
.bt3 {
    width: 240px;
    height: 65px;
    position: absolute;
    margin: 597px 1473px 260px 207px;
    padding: 20px, 50px;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}

            /* FOOTER */ 
footer {
    background:#245852;
    color: #FFFFFF;
    line-height: 60px;
    width: 1920px;
    height: 654px;
    }
.titlef {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    margin-left: 275px;
}
 .listfooter {
    list-style-type: none;
     margin-left: 275px;
     padding: 0;
    }