html { box-sizing: border-box;
}
*,
*:before,
*:after { box-sizing: inherit;
}
.logo {
    width: 79.57px;
    height: 23.04px;
    margin: 27px 1565.46px 31.64px 274.97px;
    position: absolute;
}
.hder1 {
    width: 96px;
    height: 24px;
    margin: 30px 1297px 31px 527px;
    position: absolute;
}
.hder2 {
    width: 82px;
    height: 24px;
    margin: 30px 1143px 31px 695px;
    position: absolute;
}
.hder3 {
    width: 103px;
    height: 24px; 
    margin: 30px 969px 31px 848px;
    position: absolute;
}
.hder4 {
    width: 61px;
    height: 24px;
    margin: 30px 836px 31px 1023px;
    position: absolute;
}
.sin {
    width: 59px;
    height: 24px;
    margin: 30px 494px 31px 1367px;
    position: absolute;
}
.bt1 {
    width: 183px;
    height: 51px;
    position: absolute;
    padding: 13px 50px 13px 50px;
    margin: 17px 276px 17px 1461px;
}

button {
    color: white;
    padding: 13px 50px 13px 50px;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
}
 .imgbg {
    width: 1920px;
    height: 1184px;
}

.beaware {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    color: #01996D;
    font-weight: bold;
    font-size: 65px;
    line-height: 74px;
    position: absolute;
}

.psec1 {
    width: 420px;
    height: 123px;
    left: 275px;
    top: 439px;
    margin: 400px 1225px 0px 160px;
    padding-top: 0px ;
    font-family: 'Lato';
    font-size: normal;
    font-size: 20px;
    line-height: 31,4px; 
    position: absolute;
    color: rgb(484848);
}
.bt2 {
    width: 227px;
    height: 65px;
    position: absolute;
    margin: 350px 1418px 427px 160px;
    padding: 20px, 50px;
    left: 275px;
    top: 580px;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}

h1 {
    width: 440px;
    height: 148px;
    margin: 373px 1205px 0px 275px;
}
.understand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: 79px;
    color: #01996D;
    width: 584px;
    height: 158px;
    left: 275px;
    top: 1185px;
    position: absolute;
}
.hiw {
    position: absolute;
    color:#424242;
    left: 275px;
    top: 1150px;        
}
.psec2 {
    width: 671px;
    height: 269px;
    margin: 136px 254px 3622px 995px;
    font-family: 'Lato';
    font-size: normal;
    font-weight: 500;
    line-height: 30px; 
    position: absolute;
    color: rgb(484848);
    float: right;
}

.n1 {
    width: 157px;
    height: 225px;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(1, 153, 109, 0.2);
    font-size: 150px;
}
.title1 {
    width: 181px;
    height: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 495px 1376px 3524px 380px;
    position: absolute;
}

.p1 {
    width: 382px;
    height: 150px;
    position: absolute;
    left: 275px;
    top: 1630px;
}

.img1 {
    width: 390px;
    height: 492px;
    position: absolute;
    left: 275px;
    top: 1840px;
}

.n2 {
    width: 176px;
    height: 225px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(1, 153, 109, 0.2);
    font-size: 150px;
    left: 760px;
    top: 1682px;
    text-align: center;
    display: inline-block;
    float: left;
    position: absolute;
}
.n3 {
    width: 175px;
    height: 225px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(1, 153, 109, 0.2);
    font-size: 150px;
    left: 1214px;
    display: inline-block;
    float: left;
    position: absolute;
}

.section3 {
    background: #245852;
    width: 1920px;
    height: 922px;
    position: absolute;
    color: white;
}
 .heard {
     width: 580px;
     height: 158px;
     position: absolute;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 50px;
     font-weight: bold;
     font-size: 50px; 
     top: 310px;
     left: 207px;
 }
.psec3 {
    width: 550px;
    height: 39px;
    position: absolute;
    font-weight: 600px;
    font-size: 25px; 
    margin: 501px 1163px 382px 207px;
}
.img4 {
    width: 895.84px;
    height: 516.11px;
    position: absolute;
    top: 229px;
    left: 818px;
}
.play {
    width: 26.95px;
    height: 33.69px;
    border-radius: 10px;
    border:white solid 2px ;
}

.bt3 {
    width: 240px;
    height: 65px;
    position: absolute;
    margin: 597px 1473px 260px 207px;
    padding: 20px, 50px;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}
.customized {
    display: block ;

footer {
    background: #245852;
    color: #FFFFFF;
    line-height: 60px;
    width: 1920px;
    height: 654px;
    }
.listfooter {
    list-style-type: none;
     margin-left: 275px;
     padding: 0;
}
.titlef {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    margin-left: 275px;
}