html { box-sizing: border-box;
}
*,
*:before,
*:after { box-sizing: inherit;
}
body {
    margin: 0px 0px 0px 0px;
}
             /* HEADER */ 
header {
    padding-bottom: 75px;
    height: 10%;
}
.logo {
    width: 79.57px;
    height: 23.04px;
    margin: 27px 1565.46px 31.64px 274.97px;
    position: absolute;
}
.hder1 {
    width: 96px;
    height: 24px;
    margin: 30px 1297px 31px 527px;
    position: absolute;
}
.hder2 {
    width: 82px;
    height: 24px;
    margin: 30px 1143px 31px 695px;
    position: absolute;
}
.hder3 {
    width: 103px;
    height: 24px; 
    margin: 30px 969px 31px 848px;
    position: absolute;
}
.hder4 {
    width: 61px;
    height: 24px;
    margin: 30px 836px 31px 1023px;
    position: absolute;
}
.sin {
    width: 59px;
    height: 24px;
    margin: 30px 494px 31px 1367px;
    position: absolute;
}
.bt1 {
    width: 183px;
    height: 51px;
    position: absolute;
    padding: 13px 50px 13px 50px;
    margin: 17px 276px 17px 1461px;
}

button {
    color: white;
    padding: 13px 50px 13px 50px;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
}
             /* SECTION1 */

.section1 {
    background-image: url(bg.png);
    width: 1920px;
    height: 1194px;
    background-size: cover;
}
.imgbg {
 background-image: url(bg.png) no-repeat;
 background-size: cover;
 width: 1024px;
 height: 1184px;
}
.beaware {
    color : #01996D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    width: 440px;
    margin-bottom: 30px;
    margin-left: 275px;
    padding-top: 373px;
}
.psec1 {
    width: 420px;
    height: 123px;
    margin-bottom: 18px;
    margin-left: 275px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}
.bt2 {
    width: 227px;
    height: 65px;
    margin-left: 275px;

}
              /* SECTION 2 */ 
    /* Bloc 1 */
.sec2p1 {
    padding-left: 275px;
    height: 38px;
    width: auto;
    font-size: 24px;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 24px;
    font-weight: 400;
    font-style: Semibold;
}
.sec2title1 {
    width: 584px;
    margin-left: 275px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    color: #01996D;
    margin-top: -15px;
    position:absolute;
}
.sec2p2 {
    width: 671px;
    height: 269px;
    margin-left: 995px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 500;
}
    
    /* DIV */
#DIVsect2 {
    display: inline-block;

}
.d1 {
    width: 20%;
    height: 937px;
    display: inline-block;
    top: 1395px;
    left: 275x;
    margin: auto 95px auto 270px;
}
.d2 {
    top: 1682px;
    left: 760px;
    width: 20%;
    height: 854px;
    display: inline-block;
    margin: auto 95px auto 95px;
} 
.d3 {
    width:20%;
    height: 856px;
    display: inline-block;
    margin-left:  1400px;
    margin-top: -1600px;

}
    
    /* Numéros */ 

.n1 {
    width: 176px;
   height: 225px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgba(1, 153, 109, 0.2);
   font-size: 150px;
   padding-top: 52px;
}
.n2 {
    width: 176px;
   height: 225px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgba(1, 153, 109, 0.2);
   font-size: 150px;
}
.n3 {
    width: 176px;
   height: 225px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgba(1, 153, 109, 0.2);
   font-size: 150px;
 }

    /* <p> */
.p1 {
    width: 382px;
    height: 150px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;

}
.p2 {
    width: 392px;
    height: 90px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}
.p3 {
    width: 441px;
    height: 90px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}
    /* Titres */

.title1 {
}
             /* SECTION 3 */ 
.section3 {
    background: #245852;
    width: 1920px;
    height: 922px;
    position: absolute;
    top: 3500px;
    color: white;
}
 .heard {
     width: 580px;
     height: 158px;
     position: absolute;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 50px;
     font-weight: bold;
     font-size: 50px; 
     top: 310px;
     left: 207px;
 }
.psec3 {
    width: 550px;
    height: 39px;
    position: absolute;
    font-weight: 600px;
    font-size: 25px; 
    margin: 501px 1163px 382px 207px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}
.img4 {
    width: 895.84px;
    height: 516.11px;
    position: absolute;
    top: 229px;
    left: 818px;
}

.bt3 {
    width: 240px;
    height: 65px;
    position: absolute;
    margin: 597px 1473px 260px 207px;
    padding: 20px, 50px;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}
                /* SECTION 4*/ 

.img5, .blockP {
    display: inline-block;
}
.img5 {
    margin-left: 200px;
    margin-top: 900px;
    padding-right: 88px;
    width: 638.46px;
    height: 573.26px;
}
.blockP {
    margin-top: -4000px;
}
.sect4p2 {
    border: 0.745 solid #0000;
    width: 110.49px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}
.sec4p1 {
    width: 136px;
    height: 39px;
    margin-left: 1061px;
    font-size: 25px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}
.sec4t1 {
    margin-left: 1061px;
    width: 584px;
    color: #01996D;
    font-size: 50px;
    margin-top: 10px;
    display: inline-block;
}

                /*SECTION 4.1*/
.profil {
    border: solid gray 2px ;
    width: 296.14px;
    height: 293.9px;
    margin: 474.1px 1348.86px 822px 275px ;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}

 .s4p2 {
    width: 530px;
    margin-top: 20px;
    margin-left: 1061px;
    font-size: 20px;
    font-family: 'Lato', sans-serif ;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}

.bt4 {
    margin-left: 1061px; 
    width: 227px;
    height: 65px;
}



            /* FOOTER */ 
footer {
    background:#245852;
    color: #FFFFFF;
    line-height: 60px;
    width: 1920px;
    height: 654px;
    }
.titlef {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    margin-left: 275px;
    padding-top: 95px;
}
 .listfooter {
    list-style-type: none;
     margin-left: 275px;
     padding: 0;
     font-family: 'lato' sans-serif;
     font-size: 25px;
     font-style: semibold;
    }