html { box-sizing: border-box;
}
*,
*:before,
*:after { box-sizing: inherit;
}
.logo {
    width: 79.57px;
    height: 23.04px;
    margin: 30.32px 1565.46px 31.64px 274.97px;
    position: absolute;
}

.hder1 {
    width: 96px;
    height: 24px;
    margin: 30px 1297px 31px 527px;
    position: absolute;
}
.hder2 {
    width: 82px;
    height: 24px;
    margin: 30px 1143px 31px 695px;
    position: absolute;
}
.hder3 {
    width: 103px;
    height: 24px; 
    margin: 30px 969px 31px 848px;
    position: absolute;
}
.hder4 {
    width: 61px;
    height: 24px;
    margin: 30px 836px 31px 1023px;
    position: absolute;
}
.sin {
    width: 59px;
    height: 24px;
    margin: 30px 494px 31px 1367px;
    position: absolute;
}
.bt1 {
    width: 183px;
    height: 51px;
    position: absolute;
    padding: 13px 50px 13px 50px;
    margin: 17px 276px 17px 1461px;
}

button {
    color: white;
    padding: 13px 50px 13px 50px;
    margin: 17px 276px 17px 1461px;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
}
.bt2 {
    width: 227px;
    height: 65px;
    margin: 692px 1418px 427px 275px ;
}
.sec1 {
    background-image: url(projet/image0.png) no-repeat;
    background-size: cover;
    padding: 150px;
    padding-top: 300px;
    margin-right: -100px;
}
h1 {
    width: 440px;
    height: 148px;
    margin: 373px 1205px 663px 275px;
}

footer {
    background-color: #245852;
    width: 1920px;
    height: 654px ;
    color:white;
}
.foot {
    padding-left: 275px;
    padding-top: 60px;
}
.foot0 {

}

.foot1 {
    padding: 210px 1524px 414px 275px;
    width: 121px;
    height: 30px;
}
.foot2 {
    padding: 300px 1542px 324px 275px;
    width: 103px;
    height: 30px;
}